//colors

$white : #fff;
$black : black;
$green : green;
$blue  : blue;
$gray   : #A0A2A7;
$background-cream  : #fdfdf1;
$transparent  : transparent;

//media query breakpoints

$brk-narrow : '(min-width: 768px)';
$brk-wide   : '(min-width: 1024px)';

//fonts
$stack-sans-serif : 'Open Sans Condensed', sans-serif;